html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #36ea7f;
  font-family: "Trirong", serif;
}

.header_top {
  position: relative;
  background: #1e2127;
  height: 30px;
}

.header_top_info ul, .header_top_social ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header_top_info ul li, .header_top_social ul li {
  display: inline-block;
  color: #ffffff;
}

.header_top_info ul li a, .header_top_social ul li a {
  color: #ffffff;
  padding: 5px;
  font-size: 14px;
  text-decoration: none;
}

.header_top_info ul li a:hover, .header_top_social ul li a:hover {
  color: #36ea7f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header_top_info ul li {
  padding-right: 5px;
  font-size: 15px;
}

.header_top_social {
  text-align: right;
}

@media (max-width: 768px) {
  .header_top {
    display: none;
  }
}

header .navbar {
  border-color: #e7e7e7;
  position: absolute;
  top: 29px;
  width: 100%;
  z-index: 999;
  border-radius: 0px;
  border-style: none;
  margin: 0px;
}

header .navbar-toggler-icon {
  display: inline !important;
}

header nav {
  background-color: rgba(0, 0, 0, 0.5);
}

header nav .icon-bar {
  background-color: #36ea7f;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .icon-bar:last-child {
  margin-bottom: 0px;
}

header nav .container .navbar-brand {
  color: #ddd;
  padding: 0;
}

header nav .container .navbar-brand span {
  color: #36ea7f !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 38px;
  padding-right: 3px;
}

header nav .container .navbar-nav li {
  position: relative;
  padding-left: 15px;
}

header nav .container .navbar-nav li a {
  color: #ddd;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  font-size: 12px;
}

header nav .container .navbar-nav li a:after {
  position: absolute;
  height: 5px;
  width: 0%;
  left: 0;
  bottom: -12px;
  right: 0;
  /* top: 0; */
  margin: auto;
  content: "";
  background: #36ea7f;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

header nav .container .navbar-nav li a:hover:after {
  width: 60%;
}

header nav .container .navbar-nav li.active > a:after {
  width: 60%;
}

@media (max-width: 992px) {
  header nav {
    background-color: #333333;
  }
  header nav .container .navbar-nav {
    text-align: center;
  }
  header nav .container .navbar-nav li {
    position: relative;
  }
  header nav .container .navbar-nav li a {
    font-size: 15px;
  }
  header nav .container .navbar-nav li a.active {
    color: #36ea7f;
  }
  header nav .container .navbar-nav li a:hover {
    color: #36ea7f;
  }
  header nav .container .navbar-nav li a:hover:after {
    width: 0%;
  }
  header nav .container .navbar-nav li.active > a:after {
    width: 0%;
    color: #36ea7f;
  }
  header nav .container .navbar-nav li.active > a {
    color: #36ea7f;
  }
}

@media (max-width: 768px) {
  header .navbar {
    top: 0px;
  }
  header .navbar-toggler-icon {
    margin-right: 10px !important;
  }
  header nav .container .navbar-brand {
    margin-left: 5px;
  }
}

#banner {
  height: 100vh;
  width: 100%;
  background: url(img//OfficeNews_365Mac-440x268.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

#banner:before {
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

#banner .container .row .banner_table {
  display: table;
  position: absolute;
  height: 100vh;
  width: 100%;
  text-align: center;
}

#banner .container .row .banner_tabel_cell {
  display: table-cell;
  vertical-align: middle;
}

#banner .container .row .banner_text h1 {
  color: #fff;
  margin: 0px;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 50px;
}

#banner .container .row .banner_text p {
  color: #fff;
  margin: 0px;
  padding: 0px 320px;
  font-size: 15px;
  line-height: 25px;
  padding: 10px 320px;
}

#banner .container .row .banner_text button {
  border: 2px solid #fff;
  padding: 13px 29px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 5px 9px;
  background: transparent;
  color: #fff;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border-radius: 3px;
}

#banner .container .row .banner_text button:hover {
  background: #36ea7f;
  color: #fff;
  border-color: #36ea7f;
}

#banner .container .row .banner_text .btn_sp {
  background: #36ea7f;
  border-color: #36ea7f;
}

#banner .container .row .banner_text .btn_sp:hover {
  color: #36ea7f;
  background-color: #fff;
  border-color: #fff;
}

.nextpage {
  height: 100vh;
}

@media (max-width: 1279px) and (min-width: 768px) {
  #banner .container .row .banner_text p {
    padding: 10px 0px;
  }
}

@media (max-width: 768px) {
  #banner .container .row .banner_text {
    margin: 5px;
  }
  #banner .container .row .banner_text p {
    font-size: 13px;
    line-height: 17px;
    position: relative;
    left: -12px;
    padding: 10px 0px;
  }
  #banner .container .row .banner_text h1 {
    font-size: 21px;
    position: relative;
    left: -13px;
  }
  #banner .container .row .banner_text button {
    border: 1px solid #fff;
    padding: 10px 12px;
    margin: 5px 6px;
    background: transparent;
    color: #fff;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    font-size: 11px;
  }
}

#about_us {
  padding: 100px 0px;
  background: #fff;
}

#about_us .about_info {
  padding: 0px 19px 0px 0px;
}

#about_us .about_info h1 {
  margin: 0px;
  text-transform: uppercase;
  color: #222;
  font-weight: 900;
  letter-spacing: 3px;
  padding-bottom: 13px;
}

#about_us .about_info p {
  margin: 0px;
  color: #444;
  font-size: 15px;
  line-height: 27px;
  margin-bottom: 10px;
}

#about_us .about_info button {
  border: 2px solid #333;
  padding: 10px 21px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  background: #333;
  color: #fff;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#about_us .about_info button:hover {
  background: #36ea7f;
  color: #222;
  border-color: #36ea7f;
}

#about_us .about_video {
  position: relative;
  z-index: 1;
}

#about_us .about_video:before {
  position: absolute;
  height: 100%;
  width: 99%;
  content: "";
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  background-repeat: repeat;
}

#about_us .about_video a {
  color: #fff;
  font-size: 30px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 9999;
  cursor: pointer;
  font-size: 67px;
}

@media (max-width: 577px) {
  #about_us {
    padding: 80px 0px;
  }
  #about_us .about_info {
    padding: 5px;
    text-align: center;
  }
  #about_us .about_info h1 {
    font-size: 23px;
  }
  #about_us .about_info button {
    padding: 8px 15px;
    margin-top: 5px;
  }
  #about_us .about_video {
    margin-top: 20px;
  }
}

#service {
  padding: 100px 0px 54px;
  background: #f5f5f5;
}

#service .section_title h3 {
  margin: 0px;
  color: #222;
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 5px;
}

#service .section_title p {
  margin: 0px;
  color: #444;
  text-transform: capitalize;
  font-size: 15px;
}

#service .service_container {
  margin-top: 30px;
}

#service .service_container .service_item {
  margin-bottom: 30px;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  padding: 13px 25px;
}

#service .service_container .service_item .fa {
  font-size: 25px;
  color: #666;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#service .service_container .service_item h2 {
  margin: 0px;
  color: #222;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  padding: 11px 0px;
}

#service .service_container .service_item .service_item p {
  margin: 0px;
  color: #444;
  font-size: 15px;
}

#service .service_container .service_item:hover {
  border-color: #36ea7f;
  cursor: pointer;
}

#service .service_container .service_item:hover .fa {
  color: #36ea7f;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

@media (max-width: 577px) {
  #service {
    padding: 100px 0px 54px;
    background: #f5f5f5;
  }
  #service .section_title h3 {
    margin: 0px;
    color: #222;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 5px;
  }
  #service .section_title p {
    margin: 0px;
    color: #444;
    text-transform: capitalize;
    font-size: 15px;
  }
  #service .service_container {
    text-align: center;
  }
  #service .service_container .service_item {
    border: 1px solid #36ea7f;
  }
  #service .service_container .service_item .fa {
    color: #36ea7f;
  }
}

#work_togather {
  padding: 100px 0px 105px;
  background: url(img/OfficeNews_365Mac-440x268.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}

#work_togather:before {
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

#work_togather .work_togather_content h2 {
  color: #ddd;
  margin: 0;
  padding-bottom: 7px;
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 1px;
}

#work_togather .work_togather_content p {
  color: #ddd;
  margin: 0;
  font-size: 15px;
  padding-bottom: 10px;
}

#work_togather .work_togather_content button {
  border: 2px solid #36ea7f;
  background: transparent;
  padding: 10px 24px;
  color: #36ea7f;
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#work_togather .work_togather_content button:hover {
  background: #36ea7f;
  color: #222;
}

#our_team {
  padding: 100px 0px 106px;
  background: #fff;
}

#our_team .section_title h3 {
  margin: 0px;
  color: #222;
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 5px;
}

#our_team .section_title p {
  margin: 0px;
  color: #444;
  text-transform: capitalize;
  font-size: 15px;
}

#our_team .team_container {
  margin-top: 30px;
}

#our_team .team_container .team_item {
  border: 1px solid #e5e5e5;
  padding: 20px 10px;
}

#our_team .team_container .team_img {
  height: 150px;
  width: 150px;
  border: 4px solid #e5e5e5;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

#our_team .team_container .team_info {
  margin-top: 20px;
}

#our_team .team_container .team_info h3 {
  margin: 0px;
  color: #222;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 17px;
  padding-bottom: 3px;
}

#our_team .team_container .team_info p {
  margin: 0px;
  color: #555;
  font-size: 15px;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 600;
  border-top: 1px solid #e5e5e5;
  letter-spacing: 1px;
}

#our_team .team_container .team-social {
  margin-top: 10px;
}

#our_team .team_container .team-social ul {
  list-style: none;
  padding: 0;
}

#our_team .team_container .team-social ul li {
  display: inline-block;
}

#our_team .team_container .team-social ul li a {
  text-decoration: none;
  color: #222;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

#our_team .team_container .team-social ul li a i {
  height: 34px;
  width: 29px;
  border: 1px solid #e5e5e5;
  line-height: 34px;
  margin: 0px 4px;
  color: #e5e5e5;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#our_team .team_container .team-social ul li a i:hover {
  border-color: #36ea7f;
  background: #36ea7f;
  color: #222;
}

#counter {
  padding: 50px 0px 55px;
  background: url(img/OfficeNews_365Mac-440x268.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}

#counter:before {
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  background-repeat: repeat;
  z-index: -1;
}

#counter .count_item h1 {
  font-family: "Merriweather", serif;
  color: #36ea7f;
  margin: 0px;
  padding-bottom: 10px;
}

#counter .count_item p {
  margin: 0px;
  color: #fff;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 1px;
}

#work {
  padding: 100px 0px 104px;
  background: #fff;
}

#work .active {
  background: #36ea7f;
  color: #222;
  border-color: #36ea7f;
}

#work .work_container {
  margin-top: 30px;
}

#work .portfolio-filter li {
  display: inline-block;
  cursor: pointer;
  padding: 5px 18px;
  border: 1px solid #e5e5e5;
  margin: 0px 7px;
}

#work .portfolio-filter li:hover {
  background: #36ea7f;
  color: #222;
  border-color: #36ea7f;
}

#work .container .work_container .galary_item_container {
  margin-top: 30px;
}

#work .container .work_container .galary_item_container .galary_item {
  color: red;
}

#work .container .work_container .galary_item_container .galary_item .singal-galary {
  position: relative;
}

#work .container .work_container .galary_item_container .galary_item .singal-galary .work_hover {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#work .container .work_container .galary_item_container .galary_item .singal-galary .work_hover a {
  font-size: 28px;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #36ea7f;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#work .container .work_container .galary_item_container .galary_item .singal-galary:hover .work_hover {
  opacity: 1;
}

@media (max-width: 767px) {
  #work .portfolio-filter {
    padding: 0 !important;
  }
  #work .portfolio-filter li {
    padding: 5px 9px;
    margin: 7px 2px 5px 7px;
  }
}

#work_with_us {
  padding: 100px 0px 105px;
  background: url(img/OfficeNews_365Mac-440x268.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}

#work_with_us:before {
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  background-repeat: repeat;
  z-index: -1;
}

#work_with_us h2 {
  color: #ddd;
  margin: 0px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  padding-bottom: 6px;
}

#work_with_us p {
  color: #ddd;
  font-size: 15px;
  margin: 0px;
  padding-bottom: 8px;
}

#work_with_us .work_us_content button {
  border: 2px solid #36ea7f;
  background: transparent;
  padding: 10px 24px;
  color: #36ea7f;
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#work_with_us .work_us_content button:hover {
  background: #36ea7f;
  color: #222;
}

#testmonial {
  padding: 100px 0px;
  background: #fff;
}

#testmonial .section_title h3 {
  margin: 0px;
  color: #222;
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 5px;
}

#testmonial .section_title p {
  margin: 0px;
  color: #444;
  text-transform: capitalize;
  font-size: 15px;
}

#testmonial .testmonial_container {
  margin-top: 30px;
}

#testmonial .testmonial_container .testmonial_item {
  padding: 20px 0px;
  border: 1px solid #e5e5e5;
  position: relative;
}

#testmonial .testmonial_container .testmonial_item .testmonial_img {
  border-right: 1px solid #e5e5e5;
}

#testmonial .testmonial_container .testmonial_item .testmonial_img span {
  height: 100px;
  width: 100px;
  border: 4px solid #e5e5e5;
  border-radius: 50%;
  overflow: hidden;
  top: -58px;
  left: 12px;
  display: block;
  margin: 0 auto;
}

#testmonial .testmonial_container .testmonial_item .testmonial_img h2 {
  font-family: "Sacramento", cursive;
  text-align: center;
  margin: 0px;
  padding-top: 6px;
  font-size: 23px;
  color: #444;
}

#testmonial .testmonial_container .testmonial_item .testmonial_info p {
  margin: 0px;
  font-size: 15px;
  color: #444;
  letter-spacing: 1px;
}

#testmonial .testmonial_container .testmonial_item .testmonial_info span {
  margin-top: 9px;
  display: block;
  color: #36ea7f;
}

#testmonial .testmonial_container .testmonial_active .owl-dots {
  text-align: center;
  margin-top: 46px;
}

#testmonial .testmonial_container .testmonial_active .owl-dot.active {
  background: #36ea7f;
  border-color: #36ea7f;
}

#testmonial .testmonial_container .testmonial_active .owl-dot {
  height: 20px;
  width: 20px;
  border: 1px solid #e5e5e5;
  display: inline-block;
  margin: 0px 4px;
  border-radius: 50%;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

@media only screen and (max-width: 1000px) {
  #testmonial .testmonial_container .testmonial_item .testmonial_img span {
    height: 60px;
    width: 60px;
  }
  #testmonial .testmonial_container .testmonial_item .testmonial_img h2 {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .testmonial_active {
    text-align: center;
  }
  #testmonial .testmonial_container .testmonial_item .testmonial_img span {
    height: 70px;
    width: 70px;
  }
}

#video {
  min-height: 350px;
  padding: 100px 0px;
  background: url(img/OfficeNews_365Mac-440x268.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}

#video:before {
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

#video .video_content h3 {
  text-transform: uppercase;
  color: #ddd;
  margin: 0px;
}

#video .video_content h3 span {
  color: #36ea7f;
}

#video .video_content a {
  text-decoration: none;
  color: #222;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

#video .video_content .fa {
  font-size: 66px;
  color: #ddd;
  position: relative;
  top: 58px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#video .video_content .fa:hover {
  color: #36ea7f;
}

#blog {
  padding: 100px 0px 106px;
  background: #fff;
}

#blog .section_title h3 {
  margin: 0px;
  color: #222;
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 5px;
}

#blog .section_title p {
  margin: 0px;
  color: #444;
  text-transform: capitalize;
  font-size: 15px;
}

#blog .blog_container {
  margin-top: 30px;
}

#blog .blog_container .blog_item {
  -webkit-box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.1);
  padding-bottom: 30px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#blog .blog_container .blog_item:hover {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

#blog .blog_container .blog_img {
  position: relative;
}

#blog .blog_container .blog_date {
  height: 58px;
  width: 59px;
  background: #36ea7f;
  position: absolute;
  top: 0;
  text-align: center;
}

#blog .blog_container .blog_date h3 {
  margin: 0px;
  color: #fff;
  text-transform: capitalize;
  font-size: 20px;
  padding-top: 7px;
}

#blog .blog_container .blog_date p {
  color: #fff;
  margin: 0px;
  font-family: "Merriweather", serif;
  font-size: 15px;
}

#blog .blog_content {
  padding: 20px 18px 0px 18px;
}

#blog .blog_content .blog_text h3 {
  margin: 0px;
  color: #222;
  text-transform: capitalize;
  padding: 10px 0px;
  font-size: 20px;
}

#blog .blog_content .blog_text p {
  margin: 0px;
  color: #444;
  padding-bottom: 10px;
}

#blog .blog_content .blog_info ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#blog .blog_content .blog_info ul li {
  padding: 0px 9px;
  display: inline-block;
}

#blog .blog_content .blog_btn a {
  text-decoration: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  color: #222;
  text-transform: capitalize;
  font-size: 15px;
}

#blog .blog_content .blog_btn a:hover {
  color: #36ea7f;
}

#blog .blog_content .blog_btn a:hover .fa {
  padding-left: 6px;
}

@media only screen and (max-width: 750px) {
  #blog .blog_container .blog_item {
    margin-top: 10px;
  }
}
/*# sourceMappingURL=style.css.map */