html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #36ea7f;
  font-family: "Trirong", serif;
}

.header_top {
  position: relative;
  background: #1e2127;
  height: 30px;
}

.header_top_info ul, .header_top_social ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header_top_info ul li, .header_top_social ul li {
  display: inline-block;
  color: #ffffff;
}

.header_top_info ul li a, .header_top_social ul li a {
  color: #ffffff;
  padding: 5px;
  font-size: 14px;
  text-decoration: none;
}

.header_top_info ul li a:hover, .header_top_social ul li a:hover {
  color: #36ea7f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header_top_info ul li {
  padding-right: 5px;
  font-size: 15px;
}

.header_top_social {
  text-align: right;
}

@media (max-width: 768px) {
  .header_top {
    display: none;
  }
}

header .navbar {
  border-color: #e7e7e7;
  position: absolute;
  top: 29px;
  width: 100%;
  z-index: 999;
  border-radius: 0px;
  border-style: none;
  margin: 0px;
}

header .navbar-toggler-icon {
  display: inline !important;
}

header nav {
  background-color: rgba(0, 0, 0, 0.5);
}

header nav .icon-bar {
  background-color: #36ea7f;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .icon-bar:last-child {
  margin-bottom: 0px;
}

header nav .container .navbar-brand {
  color: #ddd;
  padding: 0;
}

header nav .container .navbar-brand span {
  color: #36ea7f !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 38px;
  padding-right: 3px;
}

header nav .container .navbar-nav li {
  position: relative;
  padding-left: 15px;
}

header nav .container .navbar-nav li a {
  color: #ddd;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  font-size: 12px;
}

header nav .container .navbar-nav li a:after {
  position: absolute;
  height: 5px;
  width: 0%;
  left: 0;
  bottom: -10px;
  right: 0;
  /* top: 0; */
  margin: auto;
  content: "";
  background: #36ea7f;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

header nav .container .navbar-nav li a:hover:after {
  width: 60%;
}

header nav .container .navbar-nav li.active > a:after {
  width: 60%;
}

@media (max-width: 992px) {
  header nav {
    background-color: #333333;
  }
  header nav .container .navbar-nav {
    text-align: center;
  }
  header nav .container .navbar-nav li {
    position: relative;
  }
  header nav .container .navbar-nav li a {
    font-size: 15px;
  }
  header nav .container .navbar-nav li a.active {
    color: #36ea7f;
  }
  header nav .container .navbar-nav li a:hover {
    color: #36ea7f;
  }
  header nav .container .navbar-nav li a:hover:after {
    width: 0%;
  }
  header nav .container .navbar-nav li.active > a:after {
    width: 0%;
    color: #36ea7f;
  }
  header nav .container .navbar-nav li.active > a {
    color: #36ea7f;
  }
}

@media (max-width: 768px) {
  header .navbar {
    top: 0px;
  }
  header .navbar-toggler-icon {
    margin-right: 10px !important;
  }
  header nav .container .navbar-brand {
    margin-left: 5px;
  }
}

#banner {
  height: 100vh;
  width: 100%;
  background: url(img//OfficeNews_365Mac-440x268.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

#banner:before {
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

#banner .container .row .banner_table {
  display: table;
  position: absolute;
  height: 100vh;
  width: 100%;
  text-align: center;
}

#banner .container .row .banner_tabel_cell {
  display: table-cell;
  vertical-align: middle;
}

#banner .container .row .banner_text h1 {
  color: #fff;
  margin: 0px;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 50px;
}

#banner .container .row .banner_text p {
  color: #fff;
  margin: 0px;
  padding: 0px 320px;
  font-size: 15px;
  line-height: 25px;
  padding: 10px 320px;
}

#banner .container .row .banner_text button {
  border: 2px solid #fff;
  padding: 13px 29px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 5px 9px;
  background: transparent;
  color: #fff;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border-radius: 3px;
}

#banner .container .row .banner_text button:hover {
  background: #36ea7f;
  color: #fff;
  border-color: #36ea7f;
}

#banner .container .row .banner_text .btn_sp {
  background: #36ea7f;
  border-color: #36ea7f;
}

#banner .container .row .banner_text .btn_sp:hover {
  color: #36ea7f;
  background-color: #fff;
  border-color: #fff;
}

.nextpage {
  height: 100vh;
}

@media (max-width: 1279px) and (min-width: 768px) {
  #banner .container .row .banner_text p {
    padding: 10px 0px;
  }
}

@media (max-width: 768px) {
  #banner .container .row .banner_text {
    margin: 5px;
  }
  #banner .container .row .banner_text p {
    font-size: 13px;
    line-height: 17px;
    position: relative;
    left: -12px;
    padding: 10px 0px;
  }
  #banner .container .row .banner_text h1 {
    font-size: 21px;
    position: relative;
    left: -13px;
  }
  #banner .container .row .banner_text button {
    border: 1px solid #fff;
    padding: 10px 12px;
    margin: 5px 6px;
    background: transparent;
    color: #fff;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    font-size: 11px;
  }
}
/*# sourceMappingURL=style.css.map */