$primaryColor: #36ea7f;
$lightColor: #1e2127;
$darkColor: #333333;
$darkerColor: #212121;
$whiteColor: #ffffff;
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: $primaryColor;
    font-family: "Trirong", serif;
}

// top header
.header_top {
    position: relative;
    background: $lightColor;
    height: 30px;
    &_info,
    &_social {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                display: inline-block;
                color: $whiteColor;
                a {
                    color: $whiteColor;
                    padding: 5px;
                    font-size: 14px;
                    text-decoration: none;
                    &:hover {
                        color: $primaryColor;
                        transition: 0.5s;
                    }
                }
            }
        }
    }
    &_info {
        ul {
            li {
                padding-right: 5px;
                font-size: 15px;
            }
        }
    }
    &_social {
        text-align: right;
    }
}

@media (max-width: 768px) {
    .header_top {
        display: none;
    }
}

// main header nav
header {
    .navbar {
        border-color: #e7e7e7;
        position: absolute;
        top: 29px;
        width: 100%;
        z-index: 999;
        border-radius: 0px;
        border-style: none;
        margin: 0px;
    }
    .navbar-toggler-icon {
        display: inline !important;
    }
    nav {
        background-color: rgba($color: #000000, $alpha: 0.5);
        .icon-bar {
            background-color: #36ea7f;
            display: block;
            width: 22px;
            height: 2px;
            border-radius: 1px;
            margin-bottom: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:last-child {
                margin-bottom: 0px;
            }
        }
        .container {
            .navbar-brand {
                color: #ddd;
                padding: 0;
                span {
                    color: $primaryColor !important;
                    font-family: "Montserrat", sans-serif;
                    font-weight: 900;
                    font-size: 38px;
                    padding-right: 3px;
                }
            }
            .navbar-nav {
                li {
                    position: relative;
                    padding-left: 15px;
                    a {
                        color: #ddd;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        font-family: "Montserrat", sans-serif;
                        padding-top: 15px;
                        padding-bottom: 15px;
                        position: relative;
                        font-size: 12px;
                        &:after {
                            position: absolute;
                            height: 5px;
                            width: 0%;
                            left: 0;
                            bottom: -10px;
                            right: 0;
                            /* top: 0; */
                            margin: auto;
                            content: "";
                            background: $primaryColor;
                            transition: all 0.3s linear;
                        }
                        &:hover:after {
                            width: 60%;
                        }
                    }
                    &.active>a:after {
                        width: 60%;
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    header {
        nav {
            background-color: $darkColor;
            .container {
                .navbar-nav {
                    text-align: center;
                    li {
                        position: relative;
                        a {
                            font-size: 15px;
                            &.active {
                                color: #36ea7f;
                            }
                            &:hover {
                                color: #36ea7f;
                            }
                            &:hover:after {
                                width: 0%;
                            }
                        }
                        &.active>a:after {
                            width: 0%;
                            color: #36ea7f;
                        }
                        &.active>a {
                            color: #36ea7f;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    header {
        .navbar {
            top: 0px;
        }
        .navbar-toggler-icon {
            margin-right: 10px !important;
        }
        nav {
            .container {
                .navbar-brand {
                    margin-left: 5px;
                }
            }
        }
    }
}

// hero image section
#banner {
    height: 100vh;
    width: 100%;
    background: url(img//OfficeNews_365Mac-440x268.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    &:before {
        position: absolute;
        height: 100%;
        width: 100%;
        content: "";
        top: 0;
        left: 0;
        background-color: rgba($color: #000000, $alpha: 0.5);
        z-index: -1;
    }
    .container {
        .row {
            .banner_table {
                display: table;
                position: absolute;
                height: 100vh;
                width: 100%;
                text-align: center;
            }
            .banner_tabel_cell {
                display: table-cell;
                vertical-align: middle;
            }
            .banner_text {
                h1 {
                    color: #fff;
                    margin: 0px;
                    font-weight: 900;
                    text-transform: uppercase;
                    font-size: 50px;
                }
                p {
                    color: #fff;
                    margin: 0px;
                    padding: 0px 320px;
                    font-size: 15px;
                    line-height: 25px;
                    padding: 10px 320px;
                }
                button {
                    border: 2px solid #fff;
                    padding: 13px 29px;
                    text-transform: uppercase;
                    font-weight: 600;
                    letter-spacing: 1px;
                    margin: 5px 9px;
                    background: transparent;
                    color: #fff;
                    transition: all 0.3s linear;
                    border-radius: 3px;
                    &:hover {
                        background: $primaryColor;
                        color: #fff;
                        border-color: $primaryColor;
                    }
                }
                .btn_sp {
                    background: $primaryColor;
                    border-color: $primaryColor;
                    &:hover {
                        color: $primaryColor;
                        background-color: #fff;
                        border-color: #fff;
                    }
                }
            }
        }
    }
}

.nextpage {
    height: 100vh;
}

@media (max-width: 1279px) and (min-width: 768px) {
    #banner {
        .container {
            .row {
                .banner_text p {
                    padding: 10px 0px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    #banner {
        .container {
            .row {
                .banner_text {
                    margin: 5px;
                    p {
                        font-size: 13px;
                        line-height: 17px;
                        position: relative;
                        left: -12px;
                        padding: 10px 0px;
                    }
                    h1 {
                        font-size: 21px;
                        position: relative;
                        left: -13px;
                    }
                    button {
                        border: 1px solid #fff;
                        padding: 10px 12px;
                        margin: 5px 6px;
                        background: transparent;
                        color: #fff;
                        transition: all 0.3s linear;
                        font-size: 11px;
                    }
                }
            }
        }
    }
}